<div class="container-fluid py-3 text-center">

  <div class="row">
    <div class="col-8">
      <div [id]="'chart-gauge'+id"></div>
    </div>
    <div class="col-4">
      <div [id]="'chart-bar'+id"></div>
    </div>
  </div>

  <h1>Selected Products</h1>

  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col-12 border text-white bg-secondary">
          <p><b>Mkt Share</b></p>
          <p>18</p>
        </div>
        <div class="col-12 border text-white bg-secondary">
          <p>-18</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 border text-white bg-secondary">
          <p><b>Distribution</b></p>
          <p>18</p>
        </div>
        <div class="col-12 border text-white bg-secondary">
          <p>-18</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12 border text-white bg-secondary">
          <p><b>Avg Price</b></p>
          <p>18</p>
        </div>
        <div class="col-12 border text-white bg-secondary">
          <p>-18</p>
        </div>
      </div>
    </div>
  </div>
</div>
