/* #chart-gauge, #chart-pie, #chart-column, #chart-line {
    display: block;
    min-width: 150px;
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
    color: #7fe06d;
    color: #0098f3;
    color: #b497ff;
    color: #7dddd4;
    color: #8effac;
    color: #7a96db;
    color: #7aaad8;
    color: #FFF263;
    color: #6AF9C4;

  }
   */